{% extends 'baseBack.html.twig' %}

{% block title %}New Testfitness{% endblock %}

{% block body %}
    <h1>Create new Testfitness</h1>

    {{ include('testfitness/_form.html.twig') }}

    <a href="{{ path('testfitness_index') }}">back to list</a>
{% endblock %}
