<h1>Students <a href="student_add"><Button title="Add classroom">Add</Button></a></h1>
<table>
    <tr>
        <th>
            NCS
        </th>
        <th>
            Email
        </th>
    </tr>
    {% for student in students %}
        <tr>
            <td>
                {{ student.NCS }}
            </td>
            <td>
                {{ student.email }}
            </td>
            <td>
                <a href="/student_update/{{ student.NCS }}"><button>Update</button></a>
                <a href="/student_delete/{{ student.NCS }}"><button>Delete</button></a>

            </td>
        </tr>
    {% endfor %}
</table>
