<form method="post" action="{{ path('testfitness_delete', {'id': testfitness.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testfitness.id) }}">
    <button class="btn btn-outline-danger" ><i class="feather icon-trash-2"></i> Delete</button>
</form>
