<h1> Modifier une classe </h1>
{{ form_start(form) }}
<table>
<tr>
<td> {{ form_label(form.Name, "Nom de la classe") }}</td>
<td> {{ form_widget(form.Name) }}</td>
</tr>
</table>
{{ form_end(form) }}
</table>
